<div>
  <h4> About Zack Maril </h4>
<p>
  I'm a mathematician at large at
  <a href="http://gameclosure.com">Game Closure</a>. 
  <a href="https://twitter.com/zackmaril">Follow me on Twitter</a>;
  it's like this blog modulo 140. I'll help you maintain a balanced
  distribution of math, cats, and paranoia.
</p>

<p>
  All of these thoughts are my own and do not reflect those of my
  friends, family, or employers.
</p>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="ZackMaril">Tweet</a>
<a href="http://twitter.com/zackmaril" class="twitter-follow-button" data-show-count="false">Follow @zackmaril</a>
<script src="http://platform.twitter.com/widgets.js"
        type="text/javascript"></script>
</div>
