---
layout: default
---

<div>
<article role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}
  {{ content }}
    <footer>
      <a href="https://twitter.com/zackmaril">
        <img src="http://www.gravatar.com/avatar/fcd59db6d86365a6fba1ce0f9c7b8102.png?s=142" 
             height="50" width="50" /></a>
      <p>
        I'm a mathematician at
        large at <a href="http://gameclosure.com">Game Closure</a>. <a href="https://twitter.com/zackmaril">Follow me on
        Twitter</a>; it's like this blog modulo 140. It'll help you
        maintain a balanced distribution of cats, brain food, and
        outrage. All of these thoughts are my own and do not reflect those of
        my friends, family, or past or present employers. 
      </p>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="ZackMaril">Tweet</a>
      <a href="http://twitter.com/zackmaril" class="twitter-follow-button" data-show-count="false">Follow @zackmaril</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    </footer>
</article>
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.page_asides.size %}
    {% include_array page_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
